<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300">

</head>
<body>
	<h1> Team Swish </h1>

	<div class="main">
		<form method="post" action="" novalidate>
			<div>
			<h2>Log In</h2>
			<input type="text" placeholder="Username" name="user" required>
			<input type="password" placeholder="Password" name="pass" required> 
			</div>
			<input id="button" type="submit" name="submit">
		</form>
	</div>

</body>
</html>
